@model EpicAlbergo.Models.Dto.ServiceReservationDto

@{
    ViewBag.Title = "Associate Service to Reservation";
}

<h1>Associate Service to Reservation</h1>

<form asp-action="AssociateService" method="post">
    <div class="form-group">
        <label for="reservationId">Reservation ID</label>
        <!-- Campo di testo che mostra il ReservationId -->
        <input type="text" id="reservationId" name="ReservationId" class="form-control" value="@Model.ReservationId" readonly />

    </div>
    <div class="form-group">
        <label asp-for="ServiceId" class="control-label"></label>
        <select asp-for="ServiceId" class="form-control">
            <option value="">Select a Service</option>
            @if (ViewBag.Services != null)
            {
                foreach (var item in ViewBag.Services)
                {
                    <option value="@item.ServiceId">@item.ServiceType</option>
                }
            }
            else
            {
                <option value="">No Services Available</option>
            }
        </select>
        <span asp-validation-for="ServiceId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServiceDate" class="control-label"></label>
        <input asp-for="ServiceDate" class="form-control" />
        <span asp-validation-for="ServiceDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServiceQuantity" class="control-label"></label>
        <input asp-for="ServiceQuantity" class="form-control" />
        <span asp-validation-for="ServiceQuantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServicePrice" class="control-label"></label>
        <input asp-for="ServicePrice" class="form-control" />
        <span asp-validation-for="ServicePrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Service" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
